@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: 'Noto Serif';
  color: var(--secondary);
}
p {
  font-size: 1.4rem;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  color: var(--primary);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 50px;
  color: var(--primary);
  font-weight: bold;
  font-size: 2rem;
}
label:hover {
  background: var(--primary);
  color: white;
  cursor: pointer;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}
/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 1rem;
}
.progress-number {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* image grid styles */
.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 20px auto;
}
.img-container {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
}
.img-container img {
  max-width: 180%;
  min-height: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  transition: 0.9s;
  transition-timing-function: ease-in;
}
.img-container img:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}
/* modal styles */
